body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
}
.logo {
    height: 80px;
    align-items: center;
    display: flex;
    align-self: center;
    justify-self: flex-start;

    width: 180px;
}
.logo .header_logo__description{
    display: inline-block;
    color: #173A56;
    font-weight: 700;
    font-size: 25px;
    padding-left: 12px;
}
nav {
    margin: 0 auto;
}
header li {
    display: inline-block;
    justify-self: center;
    padding-right: 20px;
}
ul:last-of-type{
    margin-right: 50px;
}
.nav-bar{
    font-size: 16px;
    text-decoration: none;
    color: #2F281E;
    transition: 0.7s ;
}
header nav a:hover {
    color: orange;
}
header button {
    width: 110px;
    height: 46px;
}
button{
    border-radius: 5px;
}
.signin_button{
    cursor: pointer;
    border: 1px solid #BCD0E5;
    background-color: white;
    margin-right: 30px;
}
.signin_button a {
    text-decoration: none;
    font-weight: 600;
    color: #2F281E;
    font-size: 16px;
}
.signup_button{
    cursor: pointer;
    border: 1px solid orange;
    background: orange;

}
.signup_button a {
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.get_started {
    display: flex;
    margin-top: 167px;
    justify-content: space-between;
    margin-bottom: 100px;
}
.advertising {
    justify-self: flex-start;
    width: 500px;
    margin-right: 56px;
}
.advertising h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}
.advertising p {
    color: #544837;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.advertising button{
    cursor: pointer;
    border: 1px solid orange;
    background: orange;
    width: 180px;
    height: 50px;
    margin-top: 20px;
}
.advertising button a{
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.features{
    text-align: center;
    padding-bottom: 178px;
}
.features h2{
    color:#2F281E;
    width: 539px;
    height: 88px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin: 0 auto;
}
.card{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.card img{
    margin-bottom: 30px;
}
.card h3{
    justify-self: flex-start;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}
.card p{
    margin-top: 16px;
    justify-self: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.first_card{
    text-align: left;
    display: inline-block;
    width: 270px;
    height: 175px;
    margin-right: 40px;
}
.second_card{
    text-align: left;
    display: inline-block;
    width: 270px;
    height: 175px;
    margin-right: 40px;
}
.third_card{
    text-align: left;
    display: inline-block;
    width: 270px;
    height: 175px;
    margin-right: 40px;
}
.fourth_card{
    text-align: left;
    display: inline-block;
    width: 270px;
    height: 175px;
    margin-right: 40px;
}
.fourth_card p{
    width: 270px;
}
.features button{
    margin-top: 70px;
    width: 180px;
    height:50px;
    cursor: pointer;
    border: 1px solid orange;
    background: orange;
    border-radius: 5px;
}
.features button a{
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.benefits{
    display: flex;
    justify-content: space-between;
}
.benefits span{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.benefits h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
.benefits p{
    width: 525px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
}
.benefits h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}
.benefits p:last-child{
    margin-bottom: 120px;
}
.product-managers{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 100px;
}

.product-managers_description{

    margin-top: 45px;
    margin-left: 120px;
}
.product-managers_description span{
    color: #544837;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.product-managers_description h2{
    color:#2F281E;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
}
.product-managers_description p{
    width: 440px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.self_pros{
    margin-bottom: 40px;
}
.task_icon {
    margin-right: 30px;
}
.first_task {
    display: flex;
}
.second_task{
    display: flex;
}
.third_task {
    display: flex;
}
.marketers{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    border-bottom: 1px solid #0055b0;
}
.marketers_description{
    margin-top: 40px;
}
.marketers_description span{
    color: #544837;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.marketers_description h2{
    color:#2F281E;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
}
.marketers_description p{
    width: 486px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.feminitsts_things {
    margin-bottom: 40px;
}
.marketers_description h4{
    margin-bottom: 12px;
}
.marketers_description p {
    margin-bottom: 30px;
}
footer{
    position: relative;
    padding-bottom: 100px;
    margin-top: 70px;
    display: flex;
}
.footer_logo{
    display: flex;
    align-items: center;
    height: 50px;
}

.footer_logo__description{
    display: inline-block;
    color: #173A56;
    font-weight: 700;
    font-size: 25px;
    margin-left: 12px;
}